<p id="notice"><%= notice %></p>

<h1>Correspondence Index</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Triggers</th>
      <th>Format</th>
      <th>Office</th>
      <th>Audience</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @correspondences.each do |correspondence| %>
      <tr>
        <td><%= correspondence.subject %></td>
        <td><%= correspondence.triggers %></td>
        <td><%= correspondence.format %></td>
        <td><%= correspondence.office %></td>
        <td><%= correspondence.audience %></td>
        <td><%= link_to 'Show', correspondence %></td>
        <td><%= link_to 'Edit', edit_correspondence_path(correspondence) %></td>
        <td><%= link_to 'Destroy', correspondence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New Correspondence', new_correspondence_path %>

%p This site is collecting draft information that is non-decisional and may be inaccurate. The purpose is to collect information about various customer transactions to help inform prioritization of a new digital experience.